<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Especialidad</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>Editar Especialidad</h2>

    <form th:action="@{/especialidades/actualizar}" method="post" th:object="${especialidad}">
        <input type="hidden" th:field="*{idEspecialidad}"/> <!-- Campo oculto con el ID -->

        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required />

        <label>Descripción:</label>
        <input type="text" th:field="*{descripcion}" required />

        <button type="submit">Actualizar</button>
    </form>

    <a href="/especialidades">Cancelar</a>
</body>
</html>
